allow surfaceflinger same_process_hal_file:file { read getattr map };
allow zygote same_process_hal_file:file { read getattr map };
allow system_suspend sysfs:dir { open read search getattr };
allow system_suspend sysfs:file { open read getattr };
allow audioserver vendor_default_prop:file { open read getattr };

